{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "indent": [2, 4]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.prod.babel.js"
      }
    }
  }
}
