{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": [1, 4]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.prod.babel.js"
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
