$font-stack: Helvetica, sans-serif;
$primary-color: #333;

html,
body {
  font: 100% $font-stack;
  background: #dfdfdf;
}

h1 {
  color: $primary-color;
  text-align: center;
}

img {
  width: 50%;
}

img#re-zero-1 {
  content: url("../image/hello_world.png");
}
